div.blog-post-preview {
    border-bottom: 2px solid #e6e6e6;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
h1 > * {
    font-size: 1.5rem;
    text-decoration-line: none;
}
.blog-post-preview h2 {
    font-size: 0.9rem;
    font-weight: 400;
}
